.typing-wrapper, .typing-typed, .typing-placeholder, .display-text {
	font-family: "Courier New";
}
.center-text {
	text-align: center;
}
.typing-typed {
  position: absolute;
  font-size: 25px;
  height: 40px;
  width: 75%;
  left: 12.5%;
  top: 15%;
  opacity: 0.5;
  z-index: 999;
}
.outline-block {
	border: 1px solid #dadada;
	text-align: center;
	margin: auto;
}
.typing-placeholder {
  position: absolute;
  font-size: 25px;
  pointer-events: none;
  left: 12.5%;
  top: 15%;
  width: 75%;
  height: 40px;
}
.display-wrapper {
	position: absolute;
	font-size: 20px;
	width: 75%;
	left: 12.5%;
	top: 25%;
	opacity: 0.75;
}
.smaller-text {
	font-size: 15px;
}
#typescriptText {
	background-color: #007acc;
	color: #ffffff;
}
#preTypescriptText {
	color: #c8c8c8;
}
html, #typed, #toType {
	color: #ffffff;
	background-color: #2a2a2a;
}
#typed, #toType {
	border: 3px solid #dadada;
	outline: none;
}
.radio-picker, .check-picker {
	display: none;
}
.big-label {
	font-size: 15px;
}
.radio-picker:checked+label, .check-picker:checked+label {
	font-size: 15px;
	color: #2a2a2a;
	background-color: #ffffff;
}
.check-picker+label {
	font-size: 15px;
	color: #ffffff;
}
.small-picker {
	font-size: 18px;
}
.small-picker > .type-picker-field {
	font-size: 15px;
}
.code-block {
	white-space: pre-wrap;
	font-family: "Courier New";
	font-size: 10pt;
}
#statsGraph {
	width: 75%;
	height: 5%;
}
.axis-marker {
	float: right;
	z-index: 999;
}
